<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biologia</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static\css\materias123.css">
    
</head>

<body>
    <h1>conteudo para baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo"><span>Biologia molecular</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-biologia/Biologia Molecular.pdf"> <i
                            class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-biologia/Biologia Molecular.pdf" download="Biologia Molecular.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>

            </div>
            <div class="conteudo"><span>Botanica</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-biologia/Botânica.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-biologia/Botânica.pdf" download="Botânica.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Citologia </span>
                <div class="icones">
                    <a href="/pdf/view/pdf-biologia/Citologia.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-biologia/Citologia.pdf" download="Citologia.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Ecologia e meio ambiente</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-biologia/Ecologia e Meio Ambiente.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-biologia/Ecologia e Meio Ambiente.pdf" download="Ecologia e Meio Ambiente.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
     </div>
    </div>
        <div class="divisoria">
            
            <div class="conteudo"><span> Evoluçao e diversidade </span>
                <div class="icones">
                    <a href="/pdf/view/pdf-biologia/Evolução e Diversidade.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-biologia/Evolução e Diversidade.pdf" download="Evolução e Diversidade.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Fisiologia humana</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-biologia/Fisiologia Humana.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-biologia/Fisiologia Humana.pdf" download="Fisiologia Humana.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Genetica e Hereditariedade</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-biologia/Genética e Hereditariedade.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-biologia/Genética e Hereditariedade.pdf" download="Genética e Hereditariedade.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Microbiologia e Imunologia</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-biologia/Microbiologia e Imunologia.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-biologia/Microbiologia e Imunologia.pdf" download="Microbiologia e Imunologia.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
 </div>

        <h1>Atividades</h1>
        <span></span>
        <script>

        </script>
</body>

</html>