<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static\css\materias123.css">
</head>

<body>
    <h1>conteudo para baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo"><span>Revolução Francesa (1789-1799)</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-historia/Revolução Francesa (1789-1799).pdf"> <i
                            class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-historia/Revolução Francesa (1789-1799).pdf" download="Revolução Francesa (1789-1799).pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>

            </div>
            <div class="conteudo"><span>Origens do Iluminismo</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-historia/Origens do Iluminismo.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-historia/Origens do Iluminismo.pdf" download="Origens do Iluminismo.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>As 13 Colônias dos Estados Unidos</span>
                <div class="icones">
                     <a href="/pdf/view/pdf-historia/As 13 Colônias dos Estados Unidos.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-historia/As 13 Colônias dos Estados Unidos.pdf" download="As 13 Colônias dos Estados Unidos.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Primeira Guerra Mundial (1914-1918)</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-historia/Primeira Guerra Mundial (1914-1918).pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-historia/Primeira Guerra Mundial (1914-1918).pdf" download="Primeira Guerra Mundial (1914-1918).pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
     </div>
    </div>
        <div class="divisoria">
            
            <div class="conteudo"><span>segunda Guerra Mundial (1914-1918)</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-historia/segunda Guerra Mundial (1914-1918).pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-historia/segunda Guerra Mundial (1914-1918).pdf" download="segunda Guerra Mundial (1914-1918).pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Ditadura Militar no Brasil (1964-1985)</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-historia/Ditadura Militar no Brasil (1964-1985).pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-historia/Ditadura Militar no Brasil (1964-1985).pdf" download="Ditadura Militar no Brasil (1964-1985).pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Cangaço no Brasil (séculos XIX-XX)</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-historia/Cangaço no Brasil (séculos XIX-XX).pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-historia/Cangaço no Brasil (séculos XIX-XX).pdf" download="Cangaço no Brasil (séculos XIX-XX).pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Era Napoleônica (1799-1815)</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-historia/Era Napoleônica (1799-1815).pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-historia/Era Napoleônica (1799-1815).pdf" download="Era Napoleônica (1799-1815).pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
 </div>

        <span></span>
        <script>

        </script>
</body>

</html>