<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static\css\materias123.css">
</head>

<body>
    <h1>conteudo para baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo"><span>A História da Língua Inglesa</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/A História da Língua Inglesa.md"> <i
                            class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-ingles/A História da Língua Inglesa.md" download="A História da Língua Inglesa.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>

            </div>
            <div class="conteudo"><span>Artigos Definidos e Indefinidos</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/Artigos Definidos e Indefinidos.md"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-ingles/Artigos Definidos e Indefinidos.md" download="Artigos Definidos e Indefinidos.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Aumentando Seu Vocabulário em Inglês</span>
                <div class="icones">
                     <a href="/pdf/view/pdf-ingles/Aumentando Seu Vocabulário em Inglês.md"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-ingles/Aumentando Seu Vocabulário em Inglês.md" download="Aumentando Seu Vocabulário em Inglês.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Gírias em Inglês</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/Gírias em Ingles.md"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-ingles/Gírias em Ingles.md" download="Gírias em Ingles.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
     </div>
    </div>
        <div class="divisoria">
            
            <div class="conteudo"><span>Gramática Avançada</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/Gramática Avançada.md"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-ingles/Gramática Avançada.md" download="Gramática Avançada.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Ditadura Militar no Brasil (1964-1985)</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/A História da Língua Inglesa.md"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-ingles/A História da Língua Inglesa.md" download="Ditadura Militar no Brasil (1964-1985).pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Cangaço no Brasil (séculos XIX-XX)</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/A História da Língua Inglesa.md"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-ingles/A História da Língua Inglesa.md" download="Cangaço no Brasil (séculos XIX-XX).pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Era Napoleônica (1799-1815)</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/A História da Língua Inglesa.md"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-ingles/A História da Língua Inglesa.md" download="Era Napoleônica (1799-1815).pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
 </div>

        <span></span>
        <script>

        </script>
</body>

</html>