<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inglês</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/css/materias123.css">
</head>

<body>
    <h1>Conteúdo para baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">

            <div class="conteudo"><span>A História da Língua Inglesa</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/A História da Língua Inglesa.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-ingles/A História da Língua Inglesa.pdf" download="A História da Língua Inglesa.pdf">
                        <i class="fa-solid fa-download"></i></a>
                </div>
            </div>

            <div class="conteudo"><span>Artigos Definidos e Indefinidos</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/Artigos Definidos e Indefinidos.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-ingles/Artigos Definidos e Indefinidos.pdf" download="Artigos Definidos e Indefinidos.pdf">
                        <i class="fa-solid fa-download"></i></a>
                </div>
            </div>

            <div class="conteudo"><span>Aumentando Seu Vocabulário em Inglês</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/Aumentando Seu Vocabulário em Inglês.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-ingles/Aumentando Seu Vocabulário em Inglês.pdf" download="Aumentando Seu Vocabulário em Inglês.pdf">
                        <i class="fa-solid fa-download"></i></a>
                </div>
            </div>

            <div class="conteudo"><span>Gírias em Inglês</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/Gírias em Ingles.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-ingles/Gírias em Ingles.pdf" download="Gírias em Ingles.pdf">
                        <i class="fa-solid fa-download"></i></a>
                </div>
            </div>
        </div>

        <div class="divisoria">

            <div class="conteudo"><span>Gramática Avançada</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/Gramática Avançada.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-ingles/Gramática Avançada.pdf" download="Gramática Avançada.pdf">
                        <i class="fa-solid fa-download"></i></a>
                </div>
            </div>

            <div class="conteudo"><span>Simple Past</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/Simple Past.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-ingles/Simple Past.pdf" download="Simple Past.pdf">
                        <i class="fa-solid fa-download"></i></a>
                </div>
            </div>

            <div class="conteudo"><span>Sintaxe da Língua Inglesa</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/Sintaxe da Língua Inglesa.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-ingles/Sintaxe da Língua Inglesa.pdf" download="Sintaxe da Língua Inglesa.pdf">
                        <i class="fa-solid fa-download"></i></a>
                </div>
            </div>

            <div class="conteudo"><span>Verbo To Be</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-ingles/Verbo To Be.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-ingles/Verbo To Be.pdf" download="Verbo To Be.pdf">
                        <i class="fa-solid fa-download"></i></a>
                </div>
            </div>

        </div>
    </div>

</body>

</html>
