<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>matematica</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static\css\materias123.css">
</head>

<body>
    <h1>conteudo para baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo"><span>Bhaskara</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/bhaskara.pdf"> <i class="fa-solid fa-eye"></i>  </a> <a
                        href="/pdf/download/pdf-matematica/bhaskara.pdf" download="bhaskara.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>

            </div>
            <div class="conteudo"><span>Calculo fundamental</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Cálculo Fundamento.pdf"> <i class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-matematica/Cálculo Fundamento.pdf" download="Cálculo Fundamento.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Matrizes</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Matrizes.pdf"> <i class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-matematica/Matrizes.pdf" download="Matrizes.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Trigonometria</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Trigonometria.pdf"> <i class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-matematica/Trigonometria.pdf" download="Trigonometria.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
        <div class="divisoria">

            <div class="conteudo"><span>Algebra</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Álgebra.pdf"> <i class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-matematica/Álgebra.pdf" download="Álgebra.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Geometria</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Geometria.pdf"> <i class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-matematica/Geometria.pdf" download="Geometria.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Geometria analitica</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Geometria Analítica.pdf"> <i class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-matematica/Geometria Analítica.pdf" download="Geometria Analítica.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Numeros complexos </span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Números Complexo.pdf"> <i class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-matematica/Números Complexo.pdf" download= "Números Complexo.pdf" >
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>