<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matemática</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/css/materias123.css">
</head>

<body>
    <h1>Conteúdo para baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo">
                <span>Bhaskara</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/bhaskara.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-matematica/bhaskara.pdf" download="Bhaskara.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Cálculo Fundamental</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Calculo_Fundamental.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-matematica/Calculo_Fundamental.pdf" download="Calculo_Fundamental.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Matrizes</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Matrizes.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-matematica/Matrizes.pdf" download="Matrizes.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Trigonometria</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Trigonometria.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-matematica/Trigonometria.pdf" download="Trigonometria.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="divisoria">
            <div class="conteudo">
                <span>Álgebra</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Algebra.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-matematica/Algebra.pdf" download="Algebra.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Geometria</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Geometria.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-matematica/Geometria.pdf" download="Geometria.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Geometria Analítica</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Geometria_Analitica.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-matematica/Geometria_Analitica.pdf" download="Geometria_Analitica.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Números Complexos</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-matematica/Numeros_Complexos.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-matematica/Numeros_Complexos.pdf" download="Numeros_Complexos.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
