<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Português</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/css/materias123.css">
</head>

<body>
    <h1>Conteúdo para Baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo">
                <span>Gramática Avançada</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-portugues/Gramática Avançada.pdf" target="_blank">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-portugues/Gramática Avançada.pdf" download="Gramática Avançada.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>História da Língua Portuguesa</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-portugues/Historia da lingua portuguesa.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-portugues/Historia da lingua portuguesa.pdf" download="Historia da lingua portuguesa.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Literatura Brasileira</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-portugues/Literatura brasileira.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-portugues/Literatura brasileira.pdf" download="Literatura brasileira.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Redação</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-portugues/Redação.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-portugues/Redação.pdf" download="Redação.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="divisoria">
            <div class="conteudo">
                <span>Semântica e Pragmática</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-portugues/Semantica e pragmatica.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-portugues/Semantica e pragmatica.pdf" download="Semântica e Pragmática.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Escritores Influentes</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-portugues/Escritores influentes.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-portugues/Escritores influentes.pdf" download="Escritores Influentes.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Machado de Assis</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-portugues/Machado de Assis.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-portugues/Machado de Assis.pdf" download="Machado de Assis.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Fonética e Fonologia</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-portugues/fonetica.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-portugues/fonetica.pdf" download="Fonética e Fonologia.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
