<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quimica</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static\css\materias123.css">

</head>

<body>
    <h1>conteudo para baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo"><span><Em>Equilibrio quimico</Em></span>
                <div class="icones">
                    <a
                        href="/pdf/view/pdf-quimica/Equilíbrio Químico.pdf">
                        <i class="fa-solid fa-eye"></i> </a>
                    <a href="/pdf/download/pdf-quimica/Equilíbrio Químico.pdf"
                        download="Equilíbrio Químico Fundamentos e Aplicações.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>

            </div>
            <div class="conteudo"><span>Estrutura atomica</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-quimica/Estrutura Atômica.pdf">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="/pdf/download/pdf-quimica/Estrutura Atômica.pdf" download="Estrutura atomica.pdf"><i
                            class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo"><span> Ligações quimicas </span>
                <div class="icones">
                    <a href="/pdf/view/pdf-quimica/Ligações Químicas.pdf"> <i
                            class="fa-solid fa-eye"></i> </a>
                    <a href="/pdf/download/pdf-quimica/Ligações Químicas.pdf"
                        download="Ligações Químicas.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Quimica das soluções</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-quimica/Química das Soluções.pdf"> <i
                            class="fa-solid fa-eye"></i> </a>
                    <a href="/pdf/download/pdf-quimica/Química das Soluções.pdf"
                        download="Química das Soluções.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
        <div class="divisoria">

            <div class="conteudo"><span>Quimica inorganica</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-quimica/Química Inorgânica.pdf"> <i
                            class="fa-solid fa-eye"></i> </a>
                    <a href="/pdf/download/pdf-quimica/Química Inorgânica.pdf"
                        download="Química Inorgânica.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Quimica organica</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-quimica/Química Orgânica.pdf"> <i
                            class="fa-solid fa-eye"></i> </a>
                    <a href="/pdf/download/pdf-quimica/Química Orgânica.pdf"
                        download="Quimica organica.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Termodinamica</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-quimica/Termodinâmica Fundamentos e Aplicações.pdf"> <i
                            class="fa-solid fa-eye"></i> </a>
                    <a href="/pdf/download/pdf-quimica/Termodinâmica Fundamentos e Aplicações.pdf"
                        download="Termodinâmica Fundamentos e Aplicações.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Reações quimicas</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-quimica/Reações Químicas.pdf"> <i
                            class="fa-solid fa-eye"></i> </a>
                    <a href="/pdf/download/pdf-quimica/Reações Químicas.pdf"
                        download="Reações Químicas.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>