#upload-form {
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

}

.titulo {
    border: none;
    margin-bottom: 8px;
    border-bottom: 4px solid black;
    padding: 4px;
    height: 3rem;
    font-size: 2rem;
    outline: none;
    width: 100%;

}

#enviar {
    width: 20%;
    height: 2rem;
    background-color: blue;
    color: aliceblue;
    border-radius: 8px;

}

#file-list {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 70px;
    overflow-y: auto;
    display: none;
}

#file-list li {
    list-style-type: none;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.file-description {
    border: none;
    outline: none;
    resize: none;
    font-family: poppins;

}
#descriçao-atividade{
    min-height: 50px;
    width: 30%;

}

#file-upload {
    display: none;
}

.icon {
    cursor: pointer;
}
main {
    width: 50vw;
    min-height: 50vh;
    box-shadow: 10px 10px 20px black;
    display: none;
    padding: 10px;
    align-items: center;
    gap: 20px;
}

@media (max-width: 668px){
main{
    width: 100%;
    height: 80vh;
    gap: 50px;
}
#upload-form{
    width: 100%;
    height: 80%;
}
}