/* Estilo do main container */
#atividade {
    max-width: 600px;
    height: 60vh;
    margin-top: 30px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fbfdff; /* Azul claro */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Estilos dos rótulos e inputs */
#atividade label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #004080; /* Azul escuro */
}

#atividade input[type="text"],
#atividade textarea,
#atividade input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d1dfe8;
    border-radius: 5px;
    font-size: 1rem;
    color: #004080;
    background-color: #ffffff;
}

/* Botão de envio */
#atividade button#enviar {
    background-color: #004080; /* Azul escuro */
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#atividade button#enviar:hover {
    background-color: #0059b3; /* Azul mais claro */
}

/* Resolução para telas menores */
@media (max-width: 768px) {
    #atividade {
        padding: 15px;
    }

    #atividade input[type="text"],
    #atividade textarea,
    #atividade input[type="file"],
    #atividade button#enviar {
        font-size: 0.9rem;
    }
}
