<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro </title>
    <link rel="icon" href="C:/Users/erick/Área de Trabalho/GitHub/SLA/static/icons/flavicon.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/flavicon.ico') }}" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='icons/flavicon.png') }}" sizes="96x96">
    


</head>

<body>
    <div id="login">
        <h2>Login</h2>
        <form id="login-Form">
            <input type="text" id="username" name="email" placeholder="Email">
            <input type="password" name="senha" id="password" placeholder="Senha">
            <input type="submit" value="Login">
        </form>
        <div>
            <div style="display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;">
                <hr>
                <hr>
            </div>
            <div style="display: flex;flex-direction: column;
            justify-content: center;">
                <button id="cadastrar-btn">Cadastrar</button>
            </div>

        </div>
    </div>
    <main id='main-content'>
        <div class="left">
            <img src=" {{ url_for('static', filename='img/undraw/undraw_Social_sharing_re_pvmr.png') }}" alt="">
           
        </div>
        <div class="right">
            <div id="top">
                <h1>cadastrar</h1>
                <input type="submit" value="entrar" id="entrar" name="entrar">
            </div>
            <div class="caixa">
                <div class="lt">
                    <span>nome</span>
                    <input type="text" name="nome" placeholder="Nome" required>
                    <span>email</span>
                    <input type="email" name="email" id="email" placeholder="email" required>
                    <span>senha</span>
                    <input type="password" name="senha" placeholder="senha" id="senha" required>
                </div>
                <div class="lt">
                    <span>Turma</span>
                    <select name="turma" id="turma">
                        <option value="1˚ eletro">1˚ Eletro</option>
                        <option value="2˚ eletro">2˚ Eletro</option>
                        <option value="3˚ eletro">3˚ Eletro</option>
                        <option value="1˚ Segurança do Trabalho">1˚ Segurança do Trabalho</option>
                        <option value="2˚ Segurança do Trabalho">2˚ Segurança do Trabalho</option>
                        <option value="3˚ Segurança do Trabalho">3˚ Segurança do Trabalho</option>
                        <option value="1˚ Eventos">1˚ Eventos</option>
                        <option value="2˚ Eventos">2˚ Eventos</option>
                        <option value="3˚ Eventos">3˚ Eventos</option>
                        <option value="1˚ Administração">1˚ Administração</option>
                        <option value="2˚ Administração">2˚ Administração</option>
                        <option value="3˚ Administração">3˚ Administração</option>
                    </select>

                    <span>Número</span>
                    <input type="tel" name="numero" id="numero" placeholder="(xx)xxxxx-xxxx"
                        pattern="^\(\d{2}\)\d{5}-\d{4}$" maxlength="14">

                    <span>confirme sua senha</span>
                    <input type="password" placeholder="confirme sua senha " id="confirmasenha" required>
                </div>
            </div>
            <p>Voce é</p>
            <div class="genro">
                Aluno <input type="radio" name="role" value="Aluno">
                Professor <input type="radio" name="role" value="Professor">

            </div>
            <input type="submit" value="continuar" id="continuar" name="confirme" onclick="cadastrar()">
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/cadastro.js') }}"></script>
</body>

</html>