<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>administração</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static\css\materias123.css">
</head>

<body>
    <h1>conteúdo para baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo"><span>empreendedorismo e inovação</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/empreendedorismo e inovação.pdf"> <i
                            class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-adm/empreendedorismo e inovação.pdf" download="empreendedorismo e inovação.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>

            </div>
            <div class="conteudo"><span>estratégia empresarial</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/estratégia empresarial.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/estratégia empresarial.pdf" download="estratégia empresarial.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>ética e responsabilidade social</span>
                <div class="icones">
                     <a href="/pdf/view/pdf-adm/ética e responsabilidade social.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/ética e responsabilidade social.pdf" download="ética e responsabilidade social.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>finanças corporativas</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/finanças corporativas.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/finanças corporativas.pdf" download="finanças corporativas.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
     </div>
    </div>
        <div class="divisoria">
            
            <div class="conteudo"><span>gestão de operações</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/gestão de operações.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/gestão de operações.pdf" download="gestão de operações.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>gestão de pessoas</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/gestão de pessoas.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/gestão de pessoas.pdf" download="gestão de pessoas.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>marketing</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/marketing.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/marketing.pdf" download="marketing.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>tecnologias da informação</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/tecnologias da informação.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/tecnologias da informação.pdf" download="tecnologias da informação.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
 </div>

        
</body>

</html>
