<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>administraçao</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static\css\materias123.css">
</head>

<body>
    <h1>conteudo para baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo"><span>empreendorismo e inovaçao</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/empreendorismo e inovaçao.pdf"> <i
                            class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-adm/empreendorismo e inovaçao.pdf" download="empreendorismo e inovaçao.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>

            </div>
            <div class="conteudo"><span>estrategia empresarial</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/estrategia empresarial.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/estrategia empresarial.pdf" download="estrategia empresarial.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>etica e responsabilidade social</span>
                <div class="icones">
                     <a href="/pdf/view/pdf-adm/etica e responsabilidade social.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/etica e responsabilidade social.pdf" download="etica e responsabilidade social.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>finanças corporativas</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/finanças corporativas.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/finanças corporativas.pdf" download="finanças corporativas.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
     </div>
    </div>
        <div class="divisoria">
            
            <div class="conteudo"><span>gestao de operaçao</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/gestao de operaçao.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/gestao de operaçao.pdf" download="gestao de operaçao.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>gestao de pessoas</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/gestao de pessoas.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/gestao de pessoas.pdf" download="gestao de pessoas.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>marketing</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/marketing.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/marketing.pdf" download="marketing.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>tecnologias da informaçao</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-adm/tecnologias da informaçao.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-adm/tecnologias da informaçao.pdf" download="tecnologias da informaçao.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
 </div>

        <h1>Atividades</h1>
        <span></span>
        <script>

        </script>
</body>

</html>