<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>elentronica</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static\css\materias123.css">
</head>

<body>
    <h1>conteudo para baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo"><span>amplificadores e filtros</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/amplificadores e filtros).pdf"> <i
                            class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-eletronica/amplificadores e filtrospdf" download="Revolução Francesa (1789-1799).pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>

            </div>
            <div class="conteudo"><span>circuitos eletricos</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/circuitos eletricos.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eletronica/circuitos eletricos.pdf" download="circuitos eletricos.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>microprocessadores</span>
                <div class="icones">
                     <a href="/pdf/view/pdf-eletronica/microprocessadores.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eletronica/microprocessadores.pdf" download="microprocessadores.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>componentes eletronicos</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/componentes eletronicos.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eletronica/componentes eletronicos.pdf" download="componentes eletronicos.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
     </div>
    </div>
        <div class="divisoria">
            
            <div class="conteudo"><span>comunicaçao e redes eletronicas</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/comunicaçao e redes eletronicas.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eletronica/comunicaçao e redes eletronicas.pdf" download="comunicaçao e redes eletronicas.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>eletronica de potencia</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/eletronica de potencia.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eletronica/eletronica de potencia.pdf" download="eletronica de potencia.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>eletronica de rf</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/eletronica de rf.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eletronica/eletronica de rf.pdf" download="eletronica de rf.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>sistemas digitais</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/sistemas digitais.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eletronica/sistemas digitais.pdf" download="sistemas digitais.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
 </div>

</body>

</html>