<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eletrônica</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/css/materias123.css">
</head>

<body>
    <h1>Conteúdo para baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo"><span>Amplificadores e Filtros</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/amplificadores-e-filtros.pdf"> <i class="fa-solid fa-eye"></i> </a> 
                    <a href="/pdf/download/pdf-eletronica/amplificadores-e-filtros.pdf" download="amplificadores-e-filtros.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Circuitos Elétricos</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/circuitos-eletricos.pdf"> <i class="fa-solid fa-eye"></i> </a> 
                    <a href="/pdf/download/pdf-eletronica/circuitos-eletricos.pdf" download="circuitos-eletricos.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Microprocessadores</span>
                <div class="icones">
                     <a href="/pdf/view/pdf-eletronica/microprocessadores.pdf"> <i class="fa-solid fa-eye"></i> </a> 
                     <a href="/pdf/download/pdf-eletronica/microprocessadores.pdf" download="microprocessadores.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Componentes Eletrônicos</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/componentes-eletronicos.pdf"> <i class="fa-solid fa-eye"></i> </a> 
                    <a href="/pdf/download/pdf-eletronica/componentes-eletronicos.pdf" download="componentes-eletronicos.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
        <div class="divisoria">
            <div class="conteudo"><span>Comunicação e Redes Eletrônicas</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/comunicacao-e-redes-eletronicas.pdf"> <i class="fa-solid fa-eye"></i> </a> 
                    <a href="/pdf/download/pdf-eletronica/comunicacao-e-redes-eletronicas.pdf" download="comunicacao-e-redes-eletronicas.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Eletrônica de Potência</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/eletronica-de-potencia.pdf"> <i class="fa-solid fa-eye"></i> </a> 
                    <a href="/pdf/download/pdf-eletronica/eletronica-de-potencia.pdf" download="eletronica-de-potencia.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Eletrônica de RF</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/eletronica-de-rf.pdf"> <i class="fa-solid fa-eye"></i> </a> 
                    <a href="/pdf/download/pdf-eletronica/eletronica-de-rf.pdf" download="eletronica-de-rf.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>Sistemas Digitais</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eletronica/sistemas-digitais.pdf"> <i class="fa-solid fa-eye"></i> </a> 
                    <a href="/pdf/download/pdf-eletronica/sistemas-digitais.pdf" download="sistemas-digitais.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
