<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eventos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static\css\materias123.css">
</head>

<body>
    <h1>conteudo para baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo"><span>atendimento ao cliente</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eventos/atendimento ao cliente.pdf"> <i
                            class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-eventos/atendimento ao cliente.pdf" download="atendimento ao cliente.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>

            </div>
            <div class="conteudo"><span>gerenciamento de orçamento e finanças</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eventos/gerenciamento de orçamento e finanças.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eventos/gerenciamento de orçamento e finanças.pdf" download="gerenciamento de orçamento e finanças.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>gestao de logistica e operaçoes</span>
                <div class="icones">
                     <a href="/pdf/view/pdf-eventos/gestao de logistica e operaçoes.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eventos/gestao de logistica e operaçoes.pdf" download="gestao de logistica e operaçoes.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>legislaçao e normas</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eventos/legislaçao e normas.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eventos/legislaçao e normas.pdf" download="legislaçao e normas.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
     </div>
    </div>
        <div class="divisoria">
            
            <div class="conteudo"><span>marketing e comunicaçoes</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eventos/marketing e comunicaçoes.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eventos/marketing e comunicaçoes.pdf" download="marketing e comunicaçoes.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>planejamento-eventos</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eventos/planejamento-eventos.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eventos/planejamento-eventos.pdf" download="planejamento-eventos.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>produçao e cenografia</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eventos/produçao e cenografia.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eventos/produçao e cenografia.pdf" download="produçao e cenografia.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>tecnologia e inovaçao</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-eventos/tecnologia e inovaçao.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-eventos/tecnologia e inovaçao.pdf" download="tecnologia e inovaçao.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
 </div>

       
</body>

</html>