<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segurança do Trabalho</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/css/materias123.css">
</head>

<body>
    <h1>Conteúdo para Baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo">
                <span>Equipamentos de Proteção</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/equipamentos de protecao.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-st/equipamentos de protecao.pdf" download="equipamentos de protecao.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Ergonomia</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/ergonomia.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-st/ergonomia.pdf" download="ergonomia.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Higiene Ocupacional</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/higiene ocupacional.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-st/higiene ocupacional.pdf" download="higiene ocupacional.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Investigação de Acidentes</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/investigacao de acidentes.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-st/investigacao de acidentes.pdf" download="investigacao de acidentes.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="divisoria">
            <div class="conteudo">
                <span>Legislação e Normas de Segurança do Trabalho</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/legislacao e normas de seguranca do trabalho.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-st/legislacao e normas de seguranca do trabalho.pdf" download="legislacao e normas de seguranca do trabalho.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Prevenção e Controle de Riscos</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/prevenção e controle de riscos.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-st/prevenção e controle de riscos.pdf" download="prevenção e controle de riscos.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Saúde Operacional</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/saude operacional.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-st/saude operacional.pdf" download="saude operacional.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="conteudo">
                <span>Treinamento e Capacitação</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/treinamento e capacitacao.pdf"><i class="fa-solid fa-eye"></i></a>
                    <a href="/pdf/download/pdf-st/treinamento e capacitacao.pdf" download="treinamento e capacitacao.pdf">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
