<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>segurança do trabalho</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static\css\materias123.css">
</head>

<body>
    <h1>conteudo para baixar</h1>

    <div id="conteudo-materia">
        <div class="divisoria">
            <div class="conteudo"><span>equipamentos de proteçao</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/equipamentos de proteçao.pdf"> <i
                            class="fa-solid fa-eye"></i> </a> <a
                        href="/pdf/download/pdf-st/equipamentos de proteçao.pdf" download="equipamentos de proteçao.pdf">
                        <i class="fa-solid fa-download"></i> </a>
                </div>

            </div>
            <div class="conteudo"><span>ergonomia</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/ergonomia.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-st/ergonomia.pdf" download="ergonomia.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>higiene ocupacional</span>
                <div class="icones">
                     <a href="/pdf/view/pdf-st/higiene ocupacional.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-st/higiene ocupacional.pdf" download="higiene ocupacional.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>investigaçao de acidentes</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/investigaçao de acidentes.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-st/investigaçao de acidentes.pdf" download="investigaçao de acidentes.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
     </div>
    </div>
        <div class="divisoria">
            
            <div class="conteudo"><span>legislação e normas de segurança do trabalho</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/legislação e normas de segurança do trabalho.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-st/legislação e normas de segurança do trabalho.pdf" download="legislação e normas de segurança do trabalho.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>prevenção e controle de riscos</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/prevenção e controle de riscos.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-st/prevenção e controle de riscos.pdf" download="prevenção e controle de riscos.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>saúde operacional</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/saúde operacional.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-st/saúde operacional.pdf" download="saúde operacional.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
            <div class="conteudo"><span>treinamento e capacitaçao</span>
                <div class="icones">
                    <a href="/pdf/view/pdf-st/treinamento e capacitaçao.pdf"> <i
                        class="fa-solid fa-eye"></i> </a> <a
                    href="/pdf/download/pdf-st/treinamento e capacitaçao.pdf" download="treinamento e capacitaçao.pdf">
                    <i class="fa-solid fa-download"></i> </a>
                </div>
            </div>
        </div>
 </div>

       
</body>

</html>