.funcionalidades-section {
    background-color: #ffffff;
    padding: 60px 20px;
    text-align: center;
}

.funcionalidades-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
}

.funcionalidades-section p {
    font-size: 1.1em;
    color: #666;
    max-width: 700px;
    margin: 0 auto 50px auto;
}

.funcionalidades-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.funcionalidade-item {
    background-color: #007BFF;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
}

.funcionalidade-item:hover {
    transform: scale(1.1);
}

.funcionalidade-item h3 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.funcionalidade-item p {
    font-size: 0.9em;
    line-height: 1.4;
}
.funcionalidade-bloco{
    width: 200px;
}
.funcionalidade-bloco img{
    position: relative;
    height: 120px;
    width: 120px;
}